.col-md-5.col-sm-12
  #sample_1_info.dataTables_info(role='status', aria-live='polite') Showing 1 to 5 of 25 entries
.col-md-7.col-sm-12
  #sample_1_paginate.dataTables_paginate.paging_bootstrap_full_number.pull-right
    ul.pagination(style='visibility: visible;')
      li.prev.disabled
        a(href='#', title='First')
          i.fa.fa-angle-double-left
      li.prev.disabled
        a(href='#', title='Prev')
          i.fa.fa-angle-left
      li.active
        a(href='#') 1
      li
        a(href='#') 2
      li
        a(href='#') 3
      li
        a(href='#') 4
      li
        a(href='#') 5
      li.next
        a(href='#', title='Next')
          i.fa.fa-angle-right
      li.next
        a(href='#', title='Last')
          i.fa.fa-angle-double-right
