doctype html
//if IE 8
  html.ie8.no-js(lang='en')
//if IE 9
  html.ie9.no-js(lang='en')
// [if !IE] <!
html.no-js(lang='en')
  // <![endif]
  include _header.jade
  body.page-header-fixed.page-quick-sidebar-over-content.page-style-square
    // BEGIN HEADER
    div.page-header.navbar.navbar-fixed-top
      // BEGIN HEADER INNER
      div.page-header-inner
        // BEGIN LOGO
        include _top-logo.jade
        include _top-menu.jade
        include _top-bar.jade

      // END HEADER INNER
    // END HEADER
    .clearfix
    // BEGIN CONTAINER
    div.page-container
      div.page-sidebar-wrapper
        .page-sidebar.navbar-collapse.collapse
          ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
            // DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element
            li.sidebar-toggler-wrapper
              // BEGIN SIDEBAR TOGGLER BUTTON
              .sidebar-toggler
              // END SIDEBAR TOGGLER BUTTON
            // DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element
            li.sidebar-search-wrapper
              // BEGIN RESPONSIVE QUICK SEARCH FORM
              // DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box
              // DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box
              form.sidebar-search(action='extra_search.html', method='POST')
                a.remove(href='javascript:;')
                  i.icon-close
                .input-group
                  input.form-control(type='text', placeholder='Search...')
                  span.input-group-btn
                    a.btn.submit(href='javascript:;')
                      i.icon-magnifier
              // END RESPONSIVE QUICK SEARCH FORM
            block sidebar
      block mainpage

      include _quick-sidebar.jade
    include _footer.jade

               